:host {
  --wrapper-text-align-items: var(--wrapper-text-align-items-custom, center);
  --wrapper-text-flex-direction: column;
  --wrapper-text-h3-text-align: center;
  --wrapper-text-p-text-align: center;
  
  --hr-border-top: var(--hr-border-top-custom, 1px solid black);
  --hr-margin: var(--hr-margin-custom, 20px 0);
}

:host a-picture {
  --wrapper-text-any-1-width: 20em;
}

:host > section {
  flex-wrap: nowrap;
}