<d-m-brand-wrapper>

    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/CoffeeB_Logo_CR_pos_frei_RGB.ashx?h=3508&la=de&w=4961&hash=6685BD4D8A02D50CB569E38F570D5B758D0C322E"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Cafe-Royal-Loewe-Logo.ashx?h=1255&la=de&w=2008&hash=8AAFF9A233A02C1B2EFFC193B5DC627C6A259909"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Cremesso.ashx?h=120&la=de&w=220&hash=F1B5083635F1845B0271FFD8E052A5F6FA430F79"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/DELIZIO_Logo.ashx?h=217&la=de&w=1369&hash=DE89F794BDB19C35D936ADB82E040FE47597D84E"
            alt="Öffnungszeiten"></a-picture></a>


    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Schwiizer.ashx?h=1200&la=de&w=1800&hash=A3BD8E5E808BEEDEB61062F529B70A63AA58B190"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Frey.ashx?h=120&la=de&w=220&hash=82782D4C45A4379917EB45774984664E90CFE1BB"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/PetitBeurre_Logo.ashx?h=300&la=de&w=300&hash=98E77D71A9D0E43C31EFEBB367D3F69830D9A0FE"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Chocmidor_2020.ashx?h=621&la=de&w=736&hash=0EB3AC17350422C87C82FDFAE93F95E66EA0B1A8"
            alt="Öffnungszeiten"></a-picture></a>


    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Blevita.ashx?h=120&la=de&w=220&hash=F778D1A2D1B08CB89B7334BC87D68380F708C4D6"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Farmer_Logo_v1.ashx?h=500&la=de&w=2005&hash=EF9A22A955A0C044ABB8B4DA2AAA8E0D97F45732"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Skai.ashx?h=329&la=de&w=500&hash=D846543B085E235F46466911461BF71D950ECB33"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Creme_d_Or_Logo.ashx?h=406&la=de&w=626&hash=78B1ADC3FD994A3DF62D3514CFD891ECE17154B1"
            alt="Öffnungszeiten"></a-picture></a>


    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/I_Gelati_Logo.ashx?h=406&la=de&w=545&hash=1C8FD53D437E675B1D824C0FC601EDCCA442FFB5"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Sun-Queen.ashx?h=307&la=de&w=500&hash=FC49B2C58BA445586B74FC52A81C169620D60DA0"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Torricella.ashx?h=396&la=de&w=583&hash=6523C1523136D9385B26D274961488C17126E58B"
            alt="Öffnungszeiten"></a-picture></a>
    <a href="/"><a-picture namespace="picture-scale-up-"
            defaultSource="https://www.delica.com/-/media/delicacom/Bilder/Labels/Unsere-Marken/Mega_Star_Logo.ashx?h=300&la=de&w=328&hash=5448F0F04F1B78E06FF45215AD0BB143342E5077"
            alt="Öffnungszeiten"></a-picture></a>
</d-m-brand-wrapper>