<m-tabs namespace="m-tabs-container-">
    <ul class="tab-navigation">
        <li data-tab="quote-requets">Schweiz</li>
        <li data-tab="favorites">Österreich</li>
        <li data-tab="settings">Deutschland</li>
        <li data-tab="Middle-East">Middle East</li>
    </ul>
    <section class="tab-content">
        <div class="container" width="50%"></div>
        <div class="container" width="50%"></div>
    </section>
    <section class="tab-content">
        <div class="container" width="30%"></div>
        <div class="container" width="70%"></div>
    </section>
    <section class="tab-content">
        <div class="container" width="70%"></div>
        <div class="container" width="30%"></div>
    </section>
    <section class="tab-content">
        <div class="container" width="70%"></div>
        <div class="container" width="30%">
        </div>
    </section>
</m-tabs>