<d-m-emotion-carousel>
    <div class="component-container">
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/CoffeeB.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h1 class="title">DAS KAPSEL-SYSTEM OHNE KAPSEL</h1>
                <p><a href="" class="link-description">COFFEEB</a></p>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/Glace_Slider_1a.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h1 class="title">ERFRISCHENDE GENUSSMOMENTE</h1>
                <p><a href="" class="link-description">ZU DEN MARKEN</a></p>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/Kaffee_splash.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h1 class="title">REINVENTING GOODNESS</h1>
                <p><a href="" class="link-description">DAFÜR STEHT DELICA</a></p>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/WEB_Header_bester_Arbeitgeber.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h1 class="title">BESTE ARBEITGEBER 2023</h1>
                <p><a href="" class="link-description">ARBEITEN BEI DELICA</a></p>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/Kaffee_4.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h1 class="title">USER KAFFEE-GENUSS</h1>
                <p><a href="" class="link-description">ZUM SORTIMENT</a></p>
            </div>
        </div>
        <div class="controls">
            <div class="section left">
                <h1><a-arrow class="btn btn-prev" direction="left"></a-arrow></h1>
            </div>
            <div class="section right">
                <h1><a-arrow class="btn btn-next" direction="right"></a-arrow></h1>
            </div>
        </div>
    </div>
</d-m-emotion-carousel>

<h1>Wilkommen zur Frontend Demo</h1>
<p>Von den rund 100‘000 Kaffeebauern in Honduras besitzen die meisten nur kleine Anbauflächen und müssen für die Verarbeitung und den Verkauf des Kaffees einen weiten Weg auf sich nehmen. Viele leben fast ausschliesslich vom Kaffeeanbau. Ein ertragsarmes Jahr oder Ernteausfälle durch klimatische Veränderungen können für die Familien verheerende Folgen haben.</p>
<h2>GUTER KAFFEE MIT WIRKUNG</h2>
<p>Seit 2016 arbeiten wir mit Kleinbauern aus der Region Santa Barbara, Honduras, zusammen. Gestartet hat unser Engagement in La Laguna, einem kleinen Dorf und dessen Beneficio, der Nassverarbeitungsmühle für die Kaffeekirschen. Unser Engagement hat zum Ziel, die lokale Infrastruktur und Gesundheitsversorgung zu verbessern und die Einkommen zu erhöhen. Dazu wurden bereits verschiede Projekte umgesetzt: </p>
<ul>
    <li>Rainforest Alliance- und Fairtrade-Zertifizierung</li>
    <li>Gründung einer Bauernkooperative</li>
    <li>Aufbau einer Baumschule für Kaffeepflanzen</li>
    <li>Renovation einer Klinik</li>
    <li>Zukauf von modernen Maschinen für die Nassmühle</li>
</ul>
<p>Wir garantieren den Bauern eine Abnahme des gesamten Kaffees und eine langfristige Partnerschaft und Unterstützung. Schlussendlich soll die Zusammenarbeit den Bauernfamilien bessere Zukunftsperspektiven und einen für die Kleinbauern finanziell attraktiven Kaffeeanbau ermöglichen, zudem soll der Kaffee qualitativ hochwertig verarbeitet werden.</p>
<h2>DIREKTER NUTZEN FÜR DIE BAUERN VOR ORT</h2>
<p>Die Bauern erlernen, wie sie mit professionellem Farm-Management und rücksichtsvollen Anbau- und Erntemethoden die Qualität und den Ertrag ihres Kaffees erhöhen, ihre Produktionskosten senken, die Umwelt schützen und somit ein besseres und stabileres Einkommen erzielen können. Dank unserer Investition in die Infrastruktur des Beneficios können die Bauern ihre Kaffeekirschen direkt vor Ort aufbereiten lassen und sind dadurch nicht mehr auf die oft korrupten Kaffeehändler in der fernen Stadt angewiesen. So sparen sie Geld, Zeit und lange, beschwerliche Wege und die Wertschöpfung bleibt in der Region. Die fachgerechte und wasserarme Verarbeitung im Beneficio sorgt zudem für die gewünschte Qualität der Bohnen. </p>
<h1>Wähle eine Kategorie aus</h1>
<d-m-teaser-fe>
    <br>
    <div class="teaser-container">
        <div class="row higher">
            <div class="column-left longer">
                <div class="image big-image sub">
                    <a href="https://www.delica.com/de/produkte/snacks/unsere-marken">
                        <a-picture namespace="picture-cover-" defaultSource="../../molecules/teaserFe/default-/img/Kaffee_5.jpg"
                            alt="Kaffee"></a-picture>
                        <h2 class="title">KAFFEE</h2>
                    </a>
                </div>      
            </div>
            <div class="spacer w"></div>
            <div class="column-right shorter">
                <div class="image small-image sub">
                    <a href="https://www.delica.com/de/produkte/snacks/unsere-marken">
                        <a-picture namespace="picture-cover-" defaultSource="../../molecules/teaserFe/default-/img/Snacking.jpg"
                            alt="Snacking"></a-picture>
                        <h2 class="title">SNACKS</h2>
                    </a>
                </div>
                <div class="image small-image sub">
                    <a href="https://www.delica.com/de/produkte/snacks/unsere-marken">
                        <a-picture namespace="picture-cover-" defaultSource="../../molecules/teaserFe/default-/img/Cooking_v0.jpg"
                            alt="Kochen und Backen"></a-picture>
                        <h2 class="title">KOCHEN & BACKEN</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row lower">
            <div class="column-left same">
                <div class="image big-image sub">
                    <a href="https://www.delica.com/de/produkte/snacks/unsere-marken">
                        <a-picture namespace="picture-cover-" defaultSource="../../molecules/teaserFe/default-/img/Biscuits_1x1.png"
                            alt="Biscuit"></a-picture>
                        <h2 class="title">BISCUITS</h2>
                    </a>
                </div>
            </div>
            <div class="spacer w"></div>
            <div class="column-right same">
                <div class="image big-image sub">
                    <a href="https://www.delica.com/de/produkte/snacks/unsere-marken">
                        <a-picture namespace="picture-cover-" defaultSource="../../molecules/teaserFe/default-/img/Schokolade_Clouds_Teaser.jpg"
                            alt="Schokolade"></a-picture>
                        <h2 class="title">SCHOKOLADE</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row lower">
            <div class="column-left same">
                <div class="image big-image sub">
                    <a href="https://www.delica.com/de/produkte/snacks/unsere-marken">
                        <a-picture namespace="picture-cover-" defaultSource="../../molecules/teaserFe/default-/img/Glace_v01.jpg"
                            alt="Glace"></a-picture>
                        <h2 class="title">GLACE</h2>
                    </a>
                </div>
            </div>
            <div class="spacer w"></div>
            <div class="column-right same">
                <div class="image big-image sub">
                    <a href="https://www.delica.com/de/produkte/snacks/unsere-marken">
                        <a-picture namespace="picture-cover-" defaultSource="../../molecules/teaserFe/default-/img/Kaugummi.jpg"
                            alt="Kaugummi"></a-picture>
                        <h2 class="title">KAUGUMMI</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</d-m-teaser-fe>

<h1>Ein kleiner Text</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vitae odit ea accusantium quaerat ab doloremque unde accusamus excepturi sequi minima repellat delectus iure illo necessitatibus qui, quae sunt at?
Voluptatum excepturi dicta ea possimus amet, adipisci ipsa optio dolorum sapiente magni doloribus? Iste ad blanditiis modi rerum cumque, commodi sequi itaque vel fugit voluptatibus a ratione! Id, commodi doloribus?</p>


<h1>Unsere Standorte</h1>
<d-m-standorte-picker>
    <m-tabs>
        <ul class="tab-navigation">
            <li data-tab="quote-requets">Schweiz</li>
            <li data-tab="favorites">Europa</li>
            <li data-tab="settings">Weltweit</li>
        </ul>
        <section class="tab-content">
            <d-m-standorte-picker-einzel>
                <div class="slide">
                    <div class="left-container">
                        <m-image-hotspot>
                            <a-picture namespace="hotspot-picture-" alt="Schweizer-Karte"
                                defaultSource="../../molecules/standortePickerEinzel/default-/img/Karten_Schweiz.png">
                            </a-picture>
                            <a-hotspot top="14.777778" left="40" place="none" id="1">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="23.333333" left="47.25" place="none" id="2">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="30.333333" left="60.25" place="none" id="3">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="78" left="62.75" place="none" id="4">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="91.333333" left="65.25" place="none" id="5">
                                <div class="content">
                                </div>
                            </a-hotspot>
                        </m-image-hotspot>
                    </div>
                    <div class="right-container">
                        <a-picture defaultSource="../../../../img/delica-logo-rgb.png" alt="Öffnungszeiten"></a-picture>
                        <div class="description" id="1">
                            <h2>Standort Birsfelden</h2>
                            <p>Am Standort Birsfelden im Kanton Basel-Landschaft werden hauptsächlich Produkte aus den
                                Bereichen Kaffee (Röstkaffee sowie Kapselsysteme) sowie Snack- und Koch-Produkte
                                (Trockenfrüchte, Nüsse, Apéro, Gewürze usw.) hergestellt.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Hafenstrasse 120
                                <br>
                                CH-4127 Birsfelden
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="2">
                            <h2>Standort Buchs
                            </h2>
                            <p>Am Standort Buchs im Kanton Aargau werden Schokolade sowie Kaugummi in bester Schweizer
                                Qualität hergestellt.</p>
                            <p>
                                Delica AG
                                <br>
                                Bresteneggstrasse 4
                                <br>
                                CH-5033 Buchs AG
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="3">
                            <h2>Standort Meilen</h2>
                            <p>Am Standort Meilen im Kanton Zürich werden erstklassige Guezli, Glacen und Snacks in
                                bester Qualität hergestellt.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Bruechstrasse 70
                                <br>
                                CH-8706 Meilen

                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="4">
                            <h2>Standort Taverne </h2>
                            <p>Am Standort Taverne im Kanton Tessin werden zahlreiche Sorten Rohreis in den
                                verschiedensten Farben und Formen aus aller Welt verarbeitet.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Via Ponte Vecchio
                                <br>
                                CH-6807 Taverne
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="5">
                            <h2>Standort Stabio</h2>
                            <p>Am Standort Stabio im Kanton Tessin werden seit 2015 hochwertige Produkte im Bereich
                                Kaffee hergestellt mit Fokus auf Private Label-Kaffeekapseln.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Via Baragge 1
                                <br>
                                CH-6855 Stabio
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                    </div>
            </d-m-standorte-picker-einzel>
        </section>
        <section class="tab-content">
            <d-m-standorte-picker-einzel>
                <div class="slide">
                    <div class="left-container">
                        <m-image-hotspot>
                            <a-picture namespace="hotspot-picture-" alt="Schweizer-Karte"
                                defaultSource="../../molecules/standortePickerEinzel/default-/img/Karten_Europa.png">
                            </a-picture>
                            <a-hotspot top="14.777778" left="40" place="none" id="1">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="23.333333" left="47.25" place="none" id="2">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="30.333333" left="60.25" place="none" id="3">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="78" left="62.75" place="none" id="4">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="91.333333" left="65.25" place="none" id="5">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="91.333333" left="65.25" place="none" id="5">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="91.333333" left="65.25" place="none" id="5">
                                <div class="content">
                                </div>
                            </a-hotspot>
                        </m-image-hotspot>
                    </div>
                    <div class="right-container">
                        <a-picture defaultSource="../../../../img/delica-logo-rgb.png" alt="Öffnungszeiten"></a-picture>
                        <div class="description" id="1">
                            <h2>Standort Birsfelden</h2>
                            <p>Am Standort Birsfelden im Kanton Basel-Landschaft werden hauptsächlich Produkte aus den
                                Bereichen Kaffee (Röstkaffee sowie Kapselsysteme) sowie Snack- und Koch-Produkte
                                (Trockenfrüchte, Nüsse, Apéro, Gewürze usw.) hergestellt.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Hafenstrasse 120
                                <br>
                                CH-4127 Birsfelden

                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="2">
                            <h2>Standort Buchs
                            </h2>
                            <p>Am Standort Buchs im Kanton Aargau werden Schokolade sowie Kaugummi in bester Schweizer
                                Qualität hergestellt.</p>
                            <p>
                                Delica AG
                                <br>
                                Bresteneggstrasse 4
                                <br>
                                CH-5033 Buchs AG
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="3">
                            <h2>Standort Meilen</h2>
                            <p>Am Standort Meilen im Kanton Zürich werden erstklassige Guezli, Glacen und Snacks in
                                bester Qualität hergestellt.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Bruechstrasse 70
                                <br>
                                CH-8706 Meilen

                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="4">
                            <h2>Standort Taverne </h2>
                            <p>Am Standort Taverne im Kanton Tessin werden zahlreiche Sorten Rohreis in den
                                verschiedensten Farben und Formen aus aller Welt verarbeitet.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Via Ponte Vecchio
                                <br>
                                CH-6807 Taverne
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="5">
                            <h2>Standort Stabio</h2>
                            <p>Am Standort Stabio im Kanton Tessin werden seit 2015 hochwertige Produkte im Bereich
                                Kaffee hergestellt mit Fokus auf Private Label-Kaffeekapseln.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Via Baragge 1
                                <br>
                                CH-6855 Stabio
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                    </div>
            </d-m-standorte-picker-einzel>
        </section>

        <section class="tab-content">
            <d-m-standorte-picker-einzel>
                <div class="slide">
                    <div class="left-container">
                        <m-image-hotspot>
                            <a-picture namespace="hotspot-picture-" alt="Schweizer-Karte"
                                defaultSource="../../molecules/standortePickerEinzel/default-/img/Karten_Welt.png">
                            </a-picture>
                            <a-hotspot top="14.777778" left="40" place="none" id="1">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="23.333333" left="47.25" place="none" id="2">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="30.333333" left="60.25" place="none" id="3">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="78" left="62.75" place="none" id="4">
                                <div class="content">
                                </div>
                            </a-hotspot>
                            <a-hotspot top="91.333333" left="65.25" place="none" id="5">
                                <div class="content">
                                </div>
                            </a-hotspot>
                        </m-image-hotspot>
                    </div>
                    <div class="right-container">
                        <a-picture defaultSource="../../../../img/delica-logo-rgb.png" alt="Öffnungszeiten"></a-picture>
                        <div class="description" id="1">
                            <h2>Standort Birsfelden</h2>
                            <p>Am Standort Birsfelden im Kanton Basel-Landschaft werden hauptsächlich Produkte aus den
                                Bereichen Kaffee (Röstkaffee sowie Kapselsysteme) sowie Snack- und Koch-Produkte
                                (Trockenfrüchte, Nüsse, Apéro, Gewürze usw.) hergestellt.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Hafenstrasse 120
                                <br>
                                CH-4127 Birsfelden

                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="2">
                            <h2>Standort Buchs
                            </h2>
                            <p>Am Standort Buchs im Kanton Aargau werden Schokolade sowie Kaugummi in bester Schweizer
                                Qualität hergestellt.</p>
                            <p>
                                Delica AG
                                <br>
                                Bresteneggstrasse 4
                                <br>
                                CH-5033 Buchs AG
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="3">
                            <h2>Standort Meilen</h2>
                            <p>Am Standort Meilen im Kanton Zürich werden erstklassige Guezli, Glacen und Snacks in
                                bester Qualität hergestellt.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Bruechstrasse 70
                                <br>
                                CH-8706 Meilen

                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="4">
                            <h2>Standort Taverne </h2>
                            <p>Am Standort Taverne im Kanton Tessin werden zahlreiche Sorten Rohreis in den
                                verschiedensten Farben und Formen aus aller Welt verarbeitet.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Via Ponte Vecchio
                                <br>
                                CH-6807 Taverne
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                        <div class="description" id="5">
                            <h2>Standort Stabio</h2>
                            <p>Am Standort Stabio im Kanton Tessin werden seit 2015 hochwertige Produkte im Bereich
                                Kaffee hergestellt mit Fokus auf Private Label-Kaffeekapseln.
                            </p>
                            <p>
                                Delica AG
                                <br>
                                Via Baragge 1
                                <br>
                                CH-6855 Stabio
                            </p>
                            <p>
                                T +41 (0) 58 564 60 00
                            </p>
                        </div>
                    </div>
            </d-m-standorte-picker-einzel>
        </section>

    </m-tabs>
</d-m-standorte-picker>

<h1>Delica in Jahren</h1>
<d-m-year-carousel>
    <d-m-year-carousel>
    <div class="component-container">
        <div class="carousel-container">
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/1.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>
                        Die Migros übernimmt das Unternehmen „Alkoholfreie Weine AG“. Ein Jahr später, 1929, wird der
                        Name
                        zu
                        „Produktion AG Meilen“ geändert. Die spätere Midor AG ist damit der älteste Betrieb der Migros
                        Industrie.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/2.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>In Meilen werden ab 1930 erstmals Gebäck, Zwieback und Apéro-Gebäck produziert.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/3.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Im Jahr 1935 erleben die Fasnachtschüechli ihre Geburtsstunde.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/4.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Ab 1949 werden in Meilen Eiswaren produziert.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/5.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Die Chocolat Frey AG wird durch die Migros übernommen.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/6.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Mit der Gründung der "Migros Lagerhaus Genossenschaft AG" (MLG) in Birsfelden beginnt die
                        Geschichte der damaligen Delica AG.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/7.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Im Jahr 1957 kauft Gottlieb Duttweiler, Gründer der Migros, der Familie Curti aus Varese die
                        erste Reismühle im Tessin ab. Damit wird die Riseria Taverne SA gegründet. Die Familie Curti
                        übernahm die Getreidemühle in der Gemeinde Taverne-Torricella bereits im Jahr 1905, baute diese
                        um und begann, Reis zu verarbeiten. So entstand die erste Reismühle im Tessin. Heute gilt die
                        Riseria als grösste und leistungsfähigste Reismühle der Schweiz.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/8.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Auf dem gleichen Birsfeldner Areal wie die Migros Lagerhaus Genossenschaft AG (MLG) entsteht die
                        "Migros Zentralpackerei AG" (MZP)</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/9.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Chocolat Frey zieht von Aarau in die neue Produktionsstätte in Buchs um, in der von nun an die
                        ganze Schokoladen-, Confiserie- und Bonbonproduktion der Migros unter dem Namen Chocolat Frey AG
                        zusammengelegt ist.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/10.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Das Unternehmen "Produktion AG Meilen" ändert den Namen zu "Midor AG".</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/11.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Nach intensiven Entwicklungsarbeiten an neuen Rezepturen wird der Skai-Kaugummi eingeführt. </p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/12.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>In Birsfelden wird das eigene Kaffeekapselsystem Delizio entwickelt und auf den Markt gebracht.
                        Ein voller Erfolg, wie sich in den Jahren danach noch zeigen sollte.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/13.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Aus dem Unternehmen "Migros Betriebe Birsfelden (MBB)" wird Delica AG.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/14.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Chocolat Frey feiert ihr 125-jähriges Firmenjubiläum. Im selben Jahr wird die Marke Café Royal
                        gelauncht, der heutige Marktführer kompatibler Kapseln.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/15.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>Am 1. Juni 2021 wurde aus den fünf Unternehmen Chocolat Frey, Delica, Midor, Riseria sowie Total
                        Capsule Solutions die Delica AG. Der Hauptstandort des rechtlich neu gegründeten Unternehmens
                        ist Buchs im Kanton Aargau. Die bestehenden Standorte bleiben jedoch weiterhin als
                        Produktionsstätten bestehen.</p>
                </div>
            </div>
            <div class="slide">
                <a-picture class="slide-img" namespace="picture-cover-" defaultSource="../../molecules/yearCarousel/default-/img/16.jpg"
                    alt="Öffnungszeiten"></a-picture>
                <div class="slide-description">
                    <p>2022 wurde mit CoffeeB die grösste Produktinnovation der Migros-Geschichte lanciert. CoffeeB
                        steht für höchsten Kaffeegenuss und ist so einfach, aromatisch und praktisch wie eine Kapsel
                        aber ohne Kapsel. Der Coffee Ball ist zu 100% gartenkompostierbar, erzeugt also keinen
                        Aluminium- oder Plastikabfall.</p>
                </div>
            </div>
            <div class="controls">
              <div class="section left">
                <h1><a-arrow class="btn btn-prev" direction="left"></a-arrow></h1>
                </div>
                <div class="section right">
                    <h1><a-arrow class="btn btn-next" direction="right"></a-arrow></h1>
                </div>
            </div>

        </div>
        <div class="year-swiper">
            <div class="swipe">
                1928
            </div>
            <div class="swipe">
                1930
            </div>
            <div class="swipe">
                1935
            </div>
            <div class="swipe">
                1949
            </div>
            <div class="swipe">
                1950
            </div>
            <div class="swipe">
                1954
            </div>
            <div class="swipe">
                1957
            </div>
            <div class="swipe">
                1964
            </div>
            <div class="swipe">
                1967
            </div>
            <div class="swipe">
                1996
            </div>
            <div class="swipe">
                1997
            </div>
            <div class="swipe">
                2004
            </div>
            <div class="swipe">
                2007
            </div>
            <div class="swipe">
                2012
            </div>
            <div class="swipe">
                2021
            </div>
            <div class="swipe">
                2022
            </div>
        </div>

</d-m-year-carousel>



