<h1>Geschäftsleitung</h1>
<hr/>
<o-wrapper namespace="wrapper-teaser-" simulate-children=3>
    <d-o-headshot-wrapper picture-first-mobile>
        <a-picture defaultSource="./img/geschäftsleitung/Thomas_24.png" alt="Migros"></a-picture>
        <div class="text_section">
            <h3><strong>Thomas Gubler</strong></h3>
            <p>CEO</p>
        </div>
    </d-o-headshot-wrapper>
    <d-o-headshot-wrapper picture-first-mobile>
        <a-picture defaultSource="./img/geschäftsleitung/Oliver_2.png" alt="Migros"></a-picture>
        <div class="text_section">
            <h3><strong>Oliver Hausmann</strong></h3>
            <p>Leiter BU Food</p>
        </div>
    </d-o-headshot-wrapper>
    <d-o-headshot-wrapper picture-first-mobile>
        <a-picture defaultSource="./img/geschäftsleitung/Ralph.png" alt="Migros"></a-picture>
        <div class="text_section">
            <h3><strong>Ralf van den Bragt</strong></h3>
            <p>Leiter BU Coffee</p>
        </div>
    </d-o-headshot-wrapper>
</o-wrapper>
<hr/>
<o-wrapper namespace="wrapper-teaser-" simulate-children=3>
    <d-o-headshot-wrapper picture-first-mobile>
        <a-picture defaultSource="./img/geschäftsleitung/Moritz.png" alt="Migros"></a-picture>
        <div class="text_section">
            <h3><strong>Moritz Werner</strong></h3>
            <p>Leiter SCM & Operations,
                Leiter BU International</p>
        </div>
    </d-o-headshot-wrapper>
    <d-o-headshot-wrapper picture-first-mobile>
        <a-picture defaultSource="./img/geschäftsleitung/Constantin_2.png" alt="Migros"></a-picture>
        <div class="text_section">
            <h3><strong>Constantin Schnupp</strong></h3>
            <p>CFO</p>
        </div>
    </d-o-headshot-wrapper>
    <d-o-headshot-wrapper picture-first-mobile>
        <a-picture defaultSource="./img/geschäftsleitung/Gina.png" alt="Migros"></a-picture>
        <div class="text_section">
            <h3><strong>Gina Largo</strong></h3>
            <p>Leiterin Business Performance & Development</p>
        </div> 
    </d-o-headshot-wrapper>
</o-wrapper>
<hr/>
<o-wrapper namespace="wrapper-teaser-" simulate-children=3>
    <d-o-headshot-wrapper picture-first-mobile>
        <a-picture defaultSource="./img/geschäftsleitung/Barbara_v2.png" alt="Migros"></a-picture>
        <div class="text_section">
            <h3><strong>Barbara Werfeli</strong></h3>
            <p>Leiterin HRM</p>
        </div>
    </d-o-headshot-wrapper>
        <d-o-headshot-wrapper  picture-first-mobile>
            <a-picture defaultSource="./img/geschäftsleitung/Sebastian.png" alt="Migros"></a-picture>
            <div class="text_section">
                <h3><strong>Sebastian Reimann</strong></h3>
                <p>Leiter Quality</p>
            </div>
        </d-o-headshot-wrapper>
</o-wrapper>
<script type="text/javascript" src="../../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../../docs/es/documenter.js?component=Wrapper.js"></script>