<d-m-grid-gallery namespace="grid-gallery-default-">
    <div class="gallery">
        <div class="gallery__item gallery__item__1">
            <a-picture open-modal open-modal-mobile hover-on-parent-element namespace="picture-scale-up-" class="gallery__img"
                defaultSource="./img/winterzeit.jpg" alt="Öffnungszeiten"></a-picture>
        </div>
        <div class="gallery__item gallery__item__2">
            <a-picture open-modal open-modal-mobile hover-on-parent-element namespace="picture-scale-up-" class="gallery__img"
                defaultSource="./img/eislandschaft.jpg" alt="Öffnungszeiten"></a-picture>
        </div>
        <div class="gallery__item gallery__item__3">
            <a-picture open-modal open-modal-mobile hover-on-parent-element namespace="picture-scale-up-" class="gallery__img"
                defaultSource="./img/natur.jpg" alt="Öffnungszeiten"></a-picture>
        </div>
        <div class="gallery__item gallery__item__4">
            <a-picture open-modal open-modal-mobile hover-on-parent-element namespace="picture-scale-up-" class="gallery__img"
                defaultSource="./img/spitzedesberges.jpg" alt="Öffnungszeiten"></a-picture>
        </div>
        <div class="gallery__item gallery__item__5">
            <a-picture open-modal open-modal-mobile hover-on-parent-element namespace="picture-scale-up-" class="gallery__img"
                defaultSource="./img/see.jpg" alt="Öffnungszeiten"></a-picture>
        </div>
        <div class="gallery__item gallery__item__6">
            <a-picture open-modal open-modal-mobile hover-on-parent-element namespace="picture-scale-up-" class="gallery__img"
                defaultSource="./img/winterzeit.jpg" alt="Öffnungszeiten"></a-picture>
        </div>
    </div>
</d-m-grid-gallery>