<d-m-recipe-table>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Milch Couverturen</th>
                    <th class="wide_head">Kakao</th>
                    <th>Milch</th>
                    <th>Saccharose</th>
                    <th>Erhältlich in</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
                <tr>
                    <td class="bold">Noir 72</td>
                    <td>
                        <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                            Intensiver
                            und voller Charakter mit lang anhaltendem Abgang.</p>
                    </td>
                    <td>72.5 %</td>
                    <td></td>
                    <td>26.2 %</td>
                </tr>
            </tbody>
        </table>
    </div>
</d-m-recipe-table>