<m-details no-auto-close namespace="details-default-">
    <details>
        <summary>
            <h4>Couverturen, Schokoladen</h4>
        </summary>
        <div>
            <h2 class="title-border font-family-secondary">Couverturen, Schokoladen</h2>
            <a-picture style="width: 11em; float: right;" alt="bild"
                defaultSource="https://www.delica.com/-/media/delicacom/Bilder/IFF/2023/Couverture.ashx?h=150&w=251&la=de&hash=927930CE15CDB8DDA66F16CDFAA0D0E1E27E3787"></a-picture>
            <p>Unsere Couverturen werden mit sorgfältig ausgewählten Rohstoffen im
                traditionellen Verfahren hergestellt.
                Das grosse Sortiment bietet eine Vielfalt an Milch-, dunklen und weissen Couverturen mit individuell
                ausgeprägten Geschmacksrichtungen passend zu Ihren Produkten und Bedürfnissen. Die hervorragenden
                Eigenschaften unserer Couverturen erlauben eine vielseitige Verwendung. Ob maschinell oder manuell,
                zum
                Giessen, Überziehen, Sprühen oder Dragieren – unsere Couverturen erfüllen höchste Ansprüche.</p>
            <a-button style="float: left;" namespace="button-download-" href="./">Download Katalog
                Couverturen</a-button>
            <d-m-recipe-table>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Milch Couverturen</th>
                                <th class="wide_head">Kakao</th>
                                <th>Milch</th>
                                <th>Saccharose</th>
                                <th>Erhältlich in</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Noir 72</td>
                                <td>
                                    <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                                        Intensiver
                                        und voller Charakter mit lang anhaltendem Abgang.</p>
                                </td>
                                <td>72.5 %</td>
                                <td></td>
                                <td>26.2 %</td>
                            </tr>
                            <tr>
                                <td class="bold">Noir 72</td>
                                <td>
                                    <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                                        Intensiver
                                        und voller Charakter mit lang anhaltendem Abgang.</p>
                                </td>
                                <td>72.5 %</td>
                                <td></td>
                                <td>26.2 %</td>
                            </tr>
                            <tr>
                                <td class="bold">Noir 72</td>
                                <td>
                                    <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                                        Intensiver
                                        und voller Charakter mit lang anhaltendem Abgang.</p>
                                </td>
                                <td>72.5 %</td>
                                <td></td>
                                <td>26.2 %</td>
                            </tr>
                            <tr>
                                <td class="bold">Noir 72</td>
                                <td>
                                    <p>Ausserordentliche und dezente Bitternote mit einer harmonischen Fruchtsäure.
                                        Intensiver
                                        und voller Charakter mit lang anhaltendem Abgang.</p>
                                </td>
                                <td>72.5 %</td>
                                <td></td>
                                <td>26.2 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </d-m-recipe-table>
        </div>
    </details>
    <br>
</m-details>