<d-m-parallax-image-container>
    <div class="parallax-container" imageSource="./img/parallax/lion1.jpg" imageSourceMobile="lion1mobile.jpg"
    imageHeight="95vh"></div>
    <div class="text-section" sectionColor="burlywood">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque repellendus suscipit qui tenetur
            error consequatur quibusdam magnam harum vero minima, veniam, consectetur, accusantium iste molestiae cumque
            nostrum tempore eum.</p>
    </div>
</d-m-parallax-image-container>
<d-m-parallax-image-container>
    <div class="parallax-container" imageSource="./img/parallax/lion2.jpg" imageSourceMobile="lion1mobile.jpg"
    imageHeight="95vh"></div>
    <div class="text-section" sectionColor="lightslategray">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque repellendus suscipit qui tenetur
            error consequatur quibusdam magnam harum vero minima, veniam, consectetur, accusantium iste molestiae cumque
            nostrum tempore eum.</p>
    </div>
</d-m-parallax-image-container>
<d-m-parallax-image-container>
    <div class="parallax-container" imageSource="./img/parallax/lion3.jpg" imageSourceMobile="lion1mobile.jpg"
    imageHeight="95vh"></div>
    <div class="text-section" sectionColor="darkolivegreen">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque repellendus suscipit qui tenetur
            error consequatur quibusdam magnam harum vero minima, veniam, consectetur, accusantium iste molestiae cumque
            nostrum tempore eum.</p>
    </div>
</d-m-parallax-image-container>
<d-m-parallax-image-container>
    <div class="parallax-container" imageSource="./img/parallax/lion3.jpg" imageSourceMobile="lion1mobile.jpg"
    imageHeight="95vh"></div>
    <div class="text-section" sectionColor="darkolivegreen">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque repellendus suscipit qui tenetur
            error consequatur quibusdam magnam harum vero minima, veniam, consectetur, accusantium iste molestiae cumque
            nostrum tempore eum.</p>
    </div>
</d-m-parallax-image-container>
<d-m-parallax-image-container>
    <div class="parallax-container" imageSource="./img/parallax/lion3.jpg" imageSourceMobile="lion1mobile.jpg"
    imageHeight="95vh"></div>
    <div class="text-section" sectionColor="darkolivegreen">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque repellendus suscipit qui tenetur
            error consequatur quibusdam magnam harum vero minima, veniam, consectetur, accusantium iste molestiae cumque
            nostrum tempore eum.</p>
    </div>
</d-m-parallax-image-container>