<h2 class="title-border">Wrapper Teaser Center</h2>
<d-o-wrapper-teaser namespace="wrapper-teaser-center-" picture-first-mobile href="./helloWorld.html" target="_blank">
    <a-picture defaultSource="./img/Dojo.png" alt="Migros"></a-picture>
    <div class="innerTextContainer">
        <h3><strong>Catering Services Migros</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi excepturi repellat dolor quo repudiandae
            fugiat, a voluptas non odio voluptatum modi corrupti debitis vel nihil quidem libero veritatis sed et.</p>
    </div>
</d-o-wrapper-teaser>
<h2>Wrapper Teaser Scale up statt Scale up Overflow im (a-picture)</h2>
<d-o-wrapper-teaser namespace="wrapper-teaser-center-" picture-first-mobile href="./helloWorld.html" target="_blank">
    <a-picture namespace="picture-scale-up-" defaultSource="./img/Dojo.png" alt="Migros"></a-picture>
    <div class="innerTextContainer">
        <h3><strong>Catering Services Migros</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi excepturi repellat dolor quo repudiandae
            fugiat, a voluptas non odio voluptatum modi corrupti debitis vel nihil quidem libero veritatis sed et.</p>
    </div>
</d-o-wrapper-teaser>